$main:#29313D;
$primary:#FF5538;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
h1 h2 h3 h4 h5 h5 p{
    line-height: 0.8;
}
.container{
    width: 1409px;
    margin: 0 auto;
}
@mixin pera{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: $main;
    text-transform: capitalize;
    line-height: 140%;
}
#navbar{
    padding: 34px 0;
    width: 100%;
    .nav_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 100px;
            height: 50px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .menu ul{
            display: flex;
            justify-content: right;
            align-items: center;
            column-gap: 74px;
            li a{
                font-size: 18px;
                font-weight: 600;
                color: $main;
                text-transform: capitalize;
                line-height: 140%;
                transition: all linear 0.3s;
                position: relative;
                i{
                    padding-left:8px;
                }
                &:hover{
                    color: #FF5538;
                }
                &::after{
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -5px;
                    width: 0;
                    height: 2px;
                    background: rgb(202, 198, 198);
                    transition: all linear 0.3s;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
        .nav_btn{
            display: flex;
            align-items: center;
            a{
                font-size:18px ;
                font-weight: 600;
                color: $primary;
                padding: 14px 28px;
                border-radius: 18px;
                text-transform:capitalize;
                border: 1px solid #FF5538;
                &:hover{
                    color: #ffff;
                    background: $primary;
                }
            }
        }
    }
}
#banner{
    padding: 208px 0 223px 0;
    background: #FBF3F0;
    .touch{
        h1{
            width: 407px;
            height: 83px;
            font-size: 64px;
            font-weight: 700;
            color: $main;
            margin: 0 auto;
            text-transform: capitalize;
            line-height: 140%;
        }  
        .touch_home ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li a{
                font-size: 24px;
                font-weight: 400;
                color: $main;
                text-transform: capitalize;
                cursor: pointer;
                i{
                    padding: 0 12.5px;
                }
            }
        }
    }
}
#banner_two{
    padding: 120px 350px 128px 350px;
    .contact_wrapper{
        width: 1300px;
        height: 747px;
        .form_wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 80px;
            .form_box{
                .icons_wrapper{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        border-radius: 50%;
                        background: #FFD7C8;
                        &:hover{
                            background: $primary;
                            transition: all linear 0.3s;
                        }
                        i{
                            font-size: 30px;
                        }
                    }
                }
            }
            .form{
                width: 450px;
                height: 174px;
                text-align: center;
                margin-bottom: 36px;
                background: #FBF3F0;
                border-radius: 20px;
                i{
                    font-size: 24px;
                    align-items: center;
                    padding:36px 207px 0 207px;
                }
                h5{
                    width: 450px;
                    font-size: 24px;
                    font-weight: 500;
                    color: $main;
                    line-height: 140%;
                    align-items: center;
                    padding: 28px 111px 36px 111px;
                }
            }
            .contact_box{
                h3{
                    width: 520px;
                    font-size: 36px;
                    font-weight: 600;
                    color: $main;
                    text-transform: capitalize;
                    padding-bottom: 48px;
                    line-height: 140%;
                }
                input{
                    padding: 28px 529px 28px 28px;
                    margin-bottom: 28px;
                }
                .message{
                    padding: 28px 554px 215px 28px;
                }
                a{
                    font-size: 20px;
                    font-weight: 500;
                    color: $primary;
                    padding: 20px 60px;
                    border: 1px solid $primary;
                    border-radius: 20px;
                    transition: all linear 0.3s;
                    cursor: pointer;
                    &:hover{
                        color: #fff;
                        background: $primary;
                    }                      
                }
            }
        }
    }
}
#banner_three{
    padding: 100px 0;
    background: #FFD7C8;
    position: relative;
    .project_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project{
            h5{  
                font-size: 20px;
                font-weight: 400px;
                color: $main;
                padding-bottom:7px ;
                line-height: 140%;
                text-transform: capitalize;
            }
            h3{
                width:339px ;
                font-size: 48px;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 140%;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width: 1420px;
                    height: 1px;
                    background: #918f8e;
                    left: 0;
                    bottom:-48px;
                    z-index: 111;
                }
            }
        }
        .common_btn { 
            display: flex;
            align-items: center;
            a{
                font-size:18px ;
                font-weight: 600;
                color: $primary;
                cursor: pointer;
                padding: 14px 28px;
                border-radius: 18px;
                text-transform:capitalize;
                border: 1px solid #FF5538;
                &:hover{
                    color: #fff;
                    background: $primary;
                }    
            }     
        }
    }
    .pera{
        p{
            width: 1283px;
            font-size: 20px;
            font-weight: 400;
            padding-top: 72px;
            line-height: 140%;
            color:$main;
        }
    }
    .conner_image{
        width: 568px;
        height: 403px;
        position: absolute;
        top:0;
        right:0;
        z-index: -11;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
#foot{
    padding: 120px 0 70px 0;
    .foot_wrapper{
        display: flex;
        justify-content: space-between;
        column-gap:40px;
        .foot_contant{ 
            p{
                width: 450px;
                @include pera;
            }
        }
        .foot_wrapper_two{
            display: flex;
            justify-content:center;
            column-gap: 199px;
            .foot_head{
                .foot_heading{
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    color: $main;
                    margin-bottom: 48px;
                    text-transform: capitalize;
                    line-height: 150%;
                }
                .foot_list{
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                    li{
                        a{
                            font-size: 20px;
                            font-weight: 600;
                            color:$main;
                            cursor: pointer;
                            text-transform: capitalize;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
    .last_foot_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .last_contant{
            margin-top: 80px;
            a{
                width: 312px;
                font-size: 18px;
                font-weight: 400px;
                font-family: 'Poppins', sans-serif;
                color: $main;
                text-transform: capitalize;
                line-height: 140%;
                cursor: pointer;
            }
        }
        .last_contant_wrapper{
            display: flex;
            align-items: center;
            justify-content: right;
            column-gap: 60px;
            .last_contant_two{
                margin-top: 80px;
                a{
                width: 200px;
                font-size: 18px;
                font-weight: 400px;
                font-family: 'Poppins', sans-serif;
                color: $main;
                text-transform: capitalize;
                line-height: 140%;
                cursor: pointer;
                }
            }
        }
    }
}